@{
    ViewData["Title"] = "Home";
}
<!DOCTYPE html>
<html lang="sv-se">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <script defer src="https://kit.fontawesome.com/41c8b474e2.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.min.css">
    <title>Silicon</title>
</head>
<body>

    <div class="wrapper">
        <header>
            <div class="container">
                <img class="logo" src="./images/logo.svg" alt="Silicon Logo">
                <div class="menu">
                    <nav>
                        <a class="menu-link" href="#overview">Overview</a>
                        <a class="menu-link" href="#Features">Features</a>
                        <a class="menu-link" href="contact.html">Contact</a>
                    </nav>
                </div>

                <div class="btn-switch">
                    <label>Light</label>
                    <label class="switch" for="switch-mode">
                        <input type="checkbox" id="switch-mode" />
                        <span class="slider round"></span>
                    </label>
                    <label>Dark</label>
                </div>

                <div class="account-buttons">
                    <a class="gray-btn"><img src="~/images/icons/sign-in.svg"><span>Sign in</span></a>
                    <a class="theme-btn"><img src="~/images/icons/sign-up.svg"><span>Sign up</span></a>
                </div>

                <div class="menu-bars"><i class="fa-solid fa-bars"></i></div>
            </div>
        </header>

        <section class="showcase">
            <img src="./images/background-showcase.svg" alt="Task Management assistant">
            <div class="container">
                <div class="content">
                    <h1>Task Management Assistant You Gonna Love</h1>
                    <p>We offer you a new generation of task management system. Plan, manage & track all your tasks in one flexible tool.</p>
                    <a class="theme-btn">Get started for free</a>
                    <h6>Largest companies use our tool to work efficiently</h6>
                    <div class="brands">
                        <img src="~/images/brands/brand1.svg" alt="">
                        <img src="~/images/brands/brand2.svg" alt="">
                        <img src="~/images/brands/brand3.svg" alt="">
                        <img src="~/images/brands/brand4.svg" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section class="features">
            <div class="container">
                <h1>What Do You Get with Our Tool?</h1>
                <p>Make sure all your tasks are organized so you can set the priorities and focus on important.</p>
                <div class="tool-features">
                    <div class="box">
                        <img src="./images/icons/tool-icon1.svg">
                        <h5>Comments on Tasks</h5>
                        <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
                    </div>
                    <div class="box">
                        <img src="./images/icons/tool-icon2.svg">
                        <h5>Tasks Analytics</h5>
                        <p>Non imperdiet facilisis nulla tellus Morbi scelerisque eget adipiscing vulputate.</p>
                    </div>
                    <div class="box">
                        <img src="./images/icons/tool-icon3.svg">
                        <h5>Multiple Assignees</h5>
                        <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
                    </div>
                    <div class="box">
                        <img src="./images/icons/tool-icon4.svg">
                        <h5>Notifications</h5>
                        <p>Diam, suspendisse velit cras ac. Lobortis diam volutpat, eget pellentesque viverra.</p>
                    </div>
                    <div class="box">
                        <img src="./images/icons/tool-icon5.svg">
                        <h5>Sections & Subtasks</h5>
                        <p>Mi feugiat hac id in. Sit elit placerat lacus nibh lorem ridiculus lectus.</p>
                    </div>
                    <div class="box">
                        <img src="./images/icons/tool-icon6.svg">
                        <h5>Data Security</h5>
                        <p>Aliquam malesuada neque eget elit nulla vestibulum nunc cras.</p>
                    </div>
                </div>
            </div>
        </section>

        <img id="light-dark-mode" src="./images/light-dark-mode.svg" alt="Switch Between Light & Dark Mode">

        <section class="taskmaster">
            <div class="container">
                <img src="./images/task-manager.svg" alt="Task Manager">
                <div class="point-list-box">
                    <h2>Manage Your Work</h2>
                    <div class="img-then-text">
                        <i class="fa-regular fa-circle-check"></i>
                        <p>Powerful project management</p>
                    </div>
                    <div class="img-then-text">
                        <i class="fa-regular fa-circle-check"></i>
                        <p>Transparent work management</p>
                    </div>
                    <div class="img-then-text">

                        <i class="fa-regular fa-circle-check"></i>
                        <p>Manage work & focus on the most important tasks</p>
                    </div>
                    <div class="img-then-text">
                        <i class="fa-regular fa-circle-check"></i>
                        <p>Track your progress with interactive charts</p>
                    </div>
                    <div class="img-then-text">
                        <i class="fa-regular fa-circle-check"></i>
                        <p>Easiest way to track time spent on tasks</p>
                    </div>
                    <a class="theme-btn">Learn more <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
        </section>

        <section class="download-app">
            <div class="container">
                <img src="./images/screens.svg" alt="Task Manager app open in a smartphone">
                <div class="section-box">
                    <h1>Download Our App for Any Devices:</h1>
                    <div class="review-box">
                        <div class="review-text">
                            <p class="store">App store</p>
                            <img src="./images/icons/rating.svg" alt="five stars">
                            <h4>Editor's Choice</h4>
                            <p class="reviews">rating 4.7, 187K+ reviews</p>
                        </div>
                        <a href="#"><img src="./images/download/appstore.svg" alt="Download on the App Store"></a>
                    </div>
                    <div class="review-box">
                        <div class="review-text">
                            <p class="store">Google Play</p>
                            <img src="./images/icons/rating.svg" alt="five stars">
                            <h4>App of the Day</h4>
                            <p class="reviews">rating 4.8, 30K+ reviews</p>
                        </div>
                        <a href="#"><img src="./images/download/googleplay.svg" alt="Get it on Google Play"></a>
                    </div>
                </div>
            </div>
        </section>

        <section class="integrate-tools">
            <div class="container">
                <div class="section-title">
                    <h1>Integrate Top Work Tools</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
                </div>
                <div class="tool-container">
                    <div class="tool-box">
                        <img src="./images/tools/google.svg" alt="Google">
                        <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
                    </div>
                    <div class="tool-box">
                        <img src="./images/tools/zoom.svg" alt="Zoom">
                        <p>In eget a mauris quis. Tortor dui tempus quis integer est sit natoque placerat dolor.</p>
                    </div>
                    <div class="tool-box">
                        <img src="./images/tools/slack.svg" alt="Slack">
                        <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
                    </div>
                    <div class="tool-box">
                        <img src="./images/tools/gmail.svg" alt="Gmail">
                        <p>Rutrum interdum tortor, sed at nulla. A cursus bibendum elit purus cras praesent.</p>
                    </div>
                    <div class="tool-box">
                        <img src="./images/tools/trello.svg" alt="Trello">
                        <p>Congue pellentesque amet, viverra curabitur quam diam scelerisque fermentum urna.</p>
                    </div>
                    <div class="tool-box">
                        <img src="./images/tools/mailchimp.svg" alt="Mailchimp">
                        <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
                    </div>
                    <div class="tool-box">
                        <img src="./images/tools/dropbox.svg" alt="Dropbox">
                        <p>Ut in turpis consequat odio diam lectus elementum. Est faucibus blandit platea.</p>
                    </div>
                    <div class="tool-box">
                        <img src="./images/tools/evernote.svg" alt="Evernote">
                        <p>Faucibus cursus maecenas lorem cursus nibh. Sociis sit risus id. Sit facilisis dolor arcu.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>